__pycache__/
*.py[cod]
*.pyo
.pytest_cache/
venv/
.venv/
portvenv/
.git/
.gitignore
*.ipynb
.ipynb_checkpoints/
htmlcov/
.coverage
.idea/
.vscode/
.DS_Store
Thumbs.db
data/raw/
data/processed/
mlruns/
mlartifacts/
mlflow.db
*.log
docs/
*.md